sudo: required
language: java
install: ./install-gitslave.sh
before_script:
  - git checkout master
  - gits populate
  - gits pull
script: mvn clean verify -Pstable
cache:
  directories:
    - $HOME/.m2
